<style>
    table {
        border-collapse: collapse;
    }
    tr.strikeout td:before {
        content: " ";
        position: absolute;
        top: 50%;
        left: 0;
        border-bottom: 1px solid gray;
        width: 100%;
    }
    td {
        position: relative;
        padding: 5px 10px;
    }
</style>


<table class="table table-bordered">
    <tr>
        <th>Nume produs</th>
        <th>Cantitate produs</th>
    </tr>

    <tr  ng-repeat="shop in shoppingList |filter:search:startsWith " class={{shop.check}}>


          <td ng-show="shop.edit">
            {{shop.name}}
            </td>

            <td ng-hide="shop.edit"><input ng-model="shop.name" type="text" class="form-control" placeholder="" required ng-minlength="2" ng-maxlength="15">
            </td>

          <td ng-show="shop.edit">
              {{shop.quantity}}
          </td>

        <td ng-hide="shop.edit">
            <input ng-model="shop.quantity" type="number" class="form-control" placeholder="" required  ng-maxlength="15">


        </td>

          <td ng-show="shop.edit">
              <button  type="button" class="btn btn-default" ng-click="showEdit(shop)" >Editare</button>
          </td>


        <td ng-hide="shop.edit">
            <button type="button" class="btn btn-default" ng-click="salveaza(shop,shop.name,shop.quantity)" >Salveaza modificari</button>
        </td>

        <td>
            <form>
                <input type="checkbox" name="check" value="uncheck" ng-model="check" ng-change="checkProd(shop)" >Check

            </form>
        </td>
    </tr>

    <td>
        <button type="button" class="btn btn-default" ng-click="show()" >+</button>
        <div ng-show="varShow">

            <div class="panel-heading">
                <h2 class="panel-title">Adauga produs in lista de cumparaturi SKY</h2>
            </div>

            <div ng-form="shopAddForm">
                <label>Nume produs:</label>
                <input type="text" class="form-control" placeholder="" required ng-model="Prod.name" ng-minlength="2" ng-maxlength="15">
                <label>Cantitate produs:</label>
                <input type="text" class="form-control" placeholder=""  ng-model="Prod.quantity" ng-minlength="1" ng-maxlength="15">
                <button type="submit" class="btn btn-default" ng-click="adauga(Prod)" >Adauga</button>
            </div>

        </div>
    </td>



</table>

<div class="panel panel-default">

    <label>Cautare produse:</label>
    Name <input ng-model="search.name"><br>


            <tr>
            <label>Stergere produse:</label>
            <button type="button" class="btn btn-default" ng-click="sterge()" >Sterge</button>
            </tr>

</div>