<style>
    table {
        border-collapse: collapse;
    }

    tr.strikeout td:before {
        content: " ";
        position: absolute;
        top: 50%;
        left: 0;
        border-bottom: 1px solid gray;
        width: 100%;
    }

    td {
        position: relative;
        padding: 5px 10px;
    }
</style>

<div style="background: palegoldenrod; width: 400px;margin-left:32%;">
    <table class=" listCenter table-bordered">
        <tr>
            <H3 style="text-align: center">Lista shopping iarna </H3>
        </tr>

        <tr ng-repeat="shop in shoppingList |filter:search:startsWith " class={{shop.check}}>


            <td style="width: 100px" ng-show="shop.edit">
                {{shop.name}}
            </td>

            <td ng-hide="shop.edit"><input ng-model="shop.name" type="text" class="form-control" placeholder="" required
                                           ng-minlength="2" ng-maxlength="15">
            </td>

            <td style="width: 100px" ng-show="shop.edit">
                {{shop.quantity}}
            </td>

            <td ng-hide="shop.edit">
                <input ng-model="shop.quantity" type="number" class="form-control" placeholder="" required
                       ng-maxlength="15">


            </td>

            <td ng-show="shop.edit" style="width: 100px">
                <button type="button" class="btn btn-default" ng-click="showEdit(shop)">Editare</button>
            </td>


            <td ng-hide="shop.edit">
                <button type="button" class="btn btn-default" ng-click="salveaza(shop,shop.name,shop.quantity)">Salveaza
                    modificari
                </button>
            </td>

            <td style="width: 100px">
                <form>
                    <input type="checkbox" name="check" value="uncheck" ng-model="check" ng-change="checkProd(shop)">Check

                </form>
            </td>
        </tr>


    </table>


    <div class="panel panel-default listCenter" style="width: 400px; ">


        <tr>
            <label style="margin-left: 35%">Stergere produse:</label>
            <button style="margin-left: 42%" type="button" class="btn btn-default" ng-click="sterge()">Sterge</button>
        </tr>

        <label style="margin-left: 35%">Cautare produse:</label>
        <input style="margin-left: 30%" ng-model="search.name"><br>


    </div>
    <div>

        <button style="margin-left: 48% " type="button" class="btn btn-default" ng-click="show()">+</button>
        <div style="width: 400px; " ng-show="varShow">

            <div class="panel-heading">
                <h2 class="panel-title">Adauga produs in lista de cumparaturi SKY</h2>
            </div>

            <div ng-form="shopAddForm">
                <label>Nume produs:</label>
                <input type="text" name="name" id="name" class="form-control" placeholder="name" required
                       ng-model="Prod.name" ng-minlength="2" ng-maxlength="15">
                <label>Cantitate produs:</label>
                <input type="text" class="form-control" placeholder="quantity" ng-model="Prod.quantity" ng-minlength="1"
                       ng-maxlength="15">

                <div class="error"
                     ng-show="shopAddForm.name.$dirty && shopAddForm.name.$invalid">
                    <small class="error"
                           ng-show="shopAddForm.name.$error.required">
                        <H3>Numele produsului este obligatoriu!!!</H3>
                    </small>
                </div>
                <button type="submit" class="btn btn-default" ng-click="adauga(Prod)"
                        ng-disabled="shopAddForm.$invalid">Adauga
                </button>
            </div>

        </div>
    </div>
</div>